name: vprofile-actions
on: workflow_dispatch
env:
  AWS_REGION: us-west-1
  ECR_REPOSITORY: vprofileapp
  EKS_CLUSTER: vprofile-eks
jobs:
  Testing:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Maven Test
        run: mvn test

      - name: Checkstyle
        run: mvn checkstyle:checkstyle

      - name: Set Java 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Set up Sonar Scanner
        uses: warchant/setup-sonar-scanner@v7

      - name: SonarQube Scan
        run:  sonar-scanner 
            -Dsonar.host.url=https://sonarcloud.io
            -Dsonar.projectKey=${{ secrets.SONAR_PROJECT_KEY }} 
            -Dsonar.login=${{ secrets.SONAR_TOKEN }} 
            -Dsonar.organization=${{ secrets.SONAR_ORGANIZATION }} 
            -Dsonar.sources=src/ 
            -Dsonar.java.coveragePlugin=jacoco 
            -Dsonar.java.binaries=target/test-classes/com/ 
            -Dsonar.junit.reportsPath=target/surefire-reports/ 
            -Dsonar.jacoco.reportsPath=target/jacoco.exec 
            -Dsonar.java.checkstyle.reportPaths=target/checkstyle-result.xml    
            -X


      - name: SonarQube Quality Gate Check
        id: sonarqube-check
        uses: sonarsource/sonarcloud-github-action@master
        timeout-minutes: 5
        with:
          args: >
            -Dsonar.projectKey=${{ secrets.SONAR_PROJECT_KEY }} 
            -Dsonar.organization=${{ secrets.SONAR_ORGANIZATION }}
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}  
          SONAR_HOST_URL: https://sonarcloud.io      